/* Feedback Management Styles */
.feedback-management-container {
    padding: 20px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 13rem;
    margin-bottom: 2rem;
  }
  
  .feedback-management-container h2 {
    margin-bottom: 20px;
    margin-left: 110px;
  }
  
  .feedback-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .feedback-list th, .feedback-list td {
    border: 1px solid #4b4242;
    padding: 10px;
    text-align: left;
    font-size: 1.5rem;
  }
  
  .feedback-list th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .feedback-list tr:nth-child(even) {
    background-color: #f2f2f2;
    font-size: 1.5rem;
  }
  
  .feedback-list tr:hover {
    background-color: #ddd;
  }
  
  .feedback-list button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .feedback-list button:hover {
    background-color: #cc0000;
  }
  
  .feedback-logout {
    margin-left: 23rem;
    background-color: #dc3545;
  }