html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

label {
  font-size: 20px;
}

.login-html,
.login-body {
  height: 100%;
  width: 100%;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-image: url(../assets/images/login-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-content {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px rgba(66, 68, 90, 1);
}

.login-content > h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.login-content > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-content div {
  display: flex;
  flex-direction: column;
}

.login-content input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.login-content input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.forgot-password {
  font-size: 15px; /* Increase text size */
  font-weight: bold; /* Make it bold for better visibility */
  text-align: left; /* Center it if needed */
  margin-top: 10px; /* Add spacing from other elements */
}

.forgot-password a {
  color: rgb(87, 85, 85); /* Adjust color if needed */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth hover effect */
}

.forgot-password a:hover {
  color: black; /* Darker shade on hover */
}


button {
  background-color: #ffc107;
  border: none;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.login-footer {
    font-size: 16px; 
    color: #333; 
    margin-top: 10px; 
    text-align: center; 
}
  
  .login-footer .login-link {
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
}
  
  .login-footer .login-link:hover {
    text-decoration: underline; 
}