/* Center the user home container */
.user-home {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 120vh;
  background-color: black;
  background-image: url(../assets/images/u_h-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;  /* Ensure no padding is interfering */
  margin: 0;   /* Ensure no margin is interfering */
}

/* Styling for the container */
.home-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-align: left;
  box-shadow: 8px 8px 12px rgba(66, 68, 90, 1);
  text-align: center;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

/* Heading styles */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Buttons */
.start-btn, .logout-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-btn {
  background: #28a745;
  color: white;
}

.logout-btn {
  background: #dc3545;
  color: white;
  width: 50%;
}

.start-btn:hover {
  background: #218838;
}

.logout-btn:hover {
  background: #c82333;
}


/* Responsive design */
@media (max-width: 600px) {
  .home-container {
    width: 100%;
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .start-btn, .logout-btn {
    font-size: 16px;
    padding: 10px;
  }
}



